# Build
.circleci/
.storybook/
linting/
node_modules/
*.tgz

# Editors & OS
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Test
coverage/
test/
junit.xml

# Source
src/__utils__/
src/**/__snapshots__/*.*
src/**/*.story.*
src/**/*.test.*

# Config
/.bettercodehub.yml
/.editorconfig
/.gitattributes
/.prettierrc.json
/.stylelintrc.json
/jest.config.json
/test.config.ts
/tsconfig.json
/tsconfig.*.json
/tslint.config
/tslint.json
/yarn.lock
