# Build
.circleci/
.storybook/
linting/
node_modules/
*.tgz
tslint.json

# Editors & OS
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Test
coverage/
test/
junit.xml

# Source
src/__utils__/
src/**/__snapshots__/*.*
src/**/*.story.*
src/**/*.test.*

# Config
/.bettercodehub.yml
/jest.config.json
/test.config.ts
/tsconfig.json
/tslint.config
/yarn.lock
